<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>party reg</title>
</head>
<body>
{% if success %}
    <h1>venue Saved Successfully</h1>
{% endif %}
<form method="post" enctype="multipart/form-data">   <!-- as we are having multiple images thats why enctype is compulsory to use-->
    {% csrf_token %}
    <table>
        <tr>
            <td>GROUP Name:</td>
            <td>
                <input type="text" name="group" required="required"/>
            </td>
        </tr>
        <tr>
            <td>GROUP Name:</td>
            <td>
                <input type="text" name="work" required="required"/>
            </td>
        </tr>
        <tr>
            <td>Profile Photo 1:</td>
            <td>
                <input type="file" name="profile_pic_1"/>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" name="register" value="Register"/>
                <input type="reset" value="CANCEL"/>
            </td>
        </tr>



    </table>
</form>
</body>
</html>